.vehicles-details-container {
  display: flex;
  overflow: none;
  max-height: 700px;
}

.drivers-table {
  width: 50%;
  padding: 0px;
  padding-bottom: 10px;
  overflow: auto;
}

.trucks-trailers-table {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.trucks-table {
  width: 100%;
  overflow: auto;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.trailers-table {
  width: 100%;
  overflow: auto;
  padding: 0px;
  padding-bottom: 10px;
}

.vehicles-details-table {
  border-collapse: collapse;
  width: 100%;
}

.fleet-tables table, thead{
  color: var(--bs-emphasis-color);
}

.table {
  overflow: auto;
}

@media (max-width: 767px) {
  .vehicles-details-container {
    display: block;
    overflow: auto;
    max-height: none;
  }

  .drivers-table,
  .trucks-trailers-table,
  .trucks-table,
  .trailers-table,
  .vehicles-details-table {
    width: 100%;
    overflow: auto;
  }
}
