.fleet-management-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tables-container {
  display: flex;
  justify-content: space-between;
}

.table {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

table {
  width: 100%;
  white-space: nowrap;
  table-layout: fixed;
}

table th,
table td {
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
  border-radius: 4px;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Add styles for the status cells, add-button, etc. if needed */

@media screen and (max-width: 768px) {
  .fleet-management-container {
    font-family: Arial, sans-serif;
    margin: auto;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  .search-bar input {
    padding: 4px;
  }

  table th,
  table td {
    padding: 2px;
    white-space: normal;
  }

  table th {
    font-size: 14px;
  }

  .status-cell {
    font-size: 12px;
    padding: 2px;
  }

  .add-button button {
    font-size: 14px;
    padding: 4px 8px;
  }
}
