body {
  font-family: Arial, sans-serif;
  margin: 0;
}

  /* .fleet-management-container {
    margin: 10px;
  } */

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.add-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.add-button button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.add-button button:hover {
  background-color: #0056b3;
}

.add-button .dropdown-menu {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: grid !important;
  z-index: 1000;
}

.add-button .dropdown-item {
  display: grid;
  width: 100%;
  margin: auto;
  padding-right: 0%;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.add-button .dropdown-item:hover {
  background-color: #f8f9fa;
}

.add-button.show .dropdown-menu {
  display: block;
}

.main-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

/* .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

.popup.active {
  display: block;
}

.popup button {
  margin-top: 10px;
} */

.form-container {
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  width: 300px;
  background-color: #ffffff;
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
