.status-boxes {
  display: flex;
  gap: 20px;
}

.status-bar {
  cursor: pointer;
}

.status-bar-active {
  background-color: #f0f0f0;
}

.status-bar:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .center-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

  .align-p {
    margin-top: 5px;
  }
}

@media (prefers-color-scheme: dark) {
  .dark .status-boxes {
    gap: 20px;
  }

  .dark .status-bar-active,
  .dark .status-bar:hover {
    background-color: #1E293B;
    color: #ffffff;
  }
}
